<div class="container-fuild" style="overflow-x: hidden;height: 100%;">
  <div class="row m-0 p-0" style="height: 100%;">
    <div class="col-md-2 m-0 p-0">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-10 m-0 p-0">
      <div class="col-md-12 m-0 p-0">
        <app-header></app-header>
      </div>
      <div class="col-md-12 m-0 p-0">

        <router-outlet></router-outlet>

      </div>
    </div>


    <div class="col-md-12 blog-footer mt-1 ">
      <app-footer>
      </app-footer>
    </div>
  </div>
</div>
