<!--<button class="btn btn-info btn-sm  mr-1" tooltip="Ekle"><fa name="plus-circle"></fa></button>
<button class="btn btn-primary btn-sm  mr-1" tooltip="Güncelle"><fa name="pencil"></fa></button>
<button class="btn btn-danger btn-sm  mr-1" tooltip="Sil"><fa name="trash"></fa></button>-->
<div class="card mt-2">
  <div class="card-header">
    <fa name="list"></fa>
    Kayıt Listesi > [Toplam:{{gridKosDetail.data.totalCount}}/Seçili:{{gridKosDetail.selectedItems.length}}/Tıklanan:{{gridKosDetail.clickedItem!=undefined?1:0}}]
    <div class="pull-right">
      <select [(ngModel)]="gridKosDetail.model.paging.count" (change)="gridKosDetail.onRefresh()">
        <option *ngFor="let c of gridKosDetail.pager" [ngValue]="c">{{c}}</option>
      </select>
    </div>
  </div>
  <div class="card-body p-0 table-responsive">
    <table #filterSection class="table table-bordered m-0 medlifeGrid">
      <thead>
        <tr>
          <th scope="col" class="p-0"><input type="checkbox" (click)="gridKos.onSelectAll($event)"></th>
          <th scope="col" class="p-0">id</th>
          <th scope="col" class="p-0">kosStudyID</th>
          <th scope="col" class="p-0">result</th>
          <th scope="col" class="p-0">enumType</th>
          <th scope="col" class="p-0">timeCreated</th>
          <th scope="col" class="p-0">timeModified</th>
          <th scope="col" class="p-0">userIDCreated</th>
          <th scope="col" class="p-0">userIDModified</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="gridKosDetail.onClickItem(item)" *ngFor="let item of gridKosDetail.data.list" [class]="gridKosDetail.getRowClass(item)">
          <td class="p-0">
            <input type="checkbox" class="" [checked]="gridKosDetail.isSelected(item)"
                   (change)="gridKosDetail.onSelectItem(item)">
          </td>
          <td class="p-0">{{item.id}}</td>
          <td class="p-0">{{item.kosStudyID}}</td>
          <td class="p-0" data-toggle="tooltip" data-placement="top" [title]="item.result">{{item.result | slice:0:60}}...</td>
          <td class="p-0">{{item.enumType}}</td>
          <td class="p-0">{{item.timeCreated | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td class="p-0">{{item.timeModified | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td class="p-0">{{item.userIDCreated}}</td>
          <td class="p-0">{{item.userIDModified}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center  mb-3">
    <div class="col-sm-7 pagination-sm  justify-content-center pageNumber">
      <pagination class="justify-content-center" [boundaryLinks]="true" [totalItems]="gridKosDetail.data.totalCount" [maxSize]="4" [(ngModel)]="gridKosDetail.model.paging.pageNumber" [itemsPerPage]="gridKosDetail.model.paging.count" (pageChanged)="gridKosDetail.onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>



