<button (click)="openEditRoleModal('ekle')" class="btn btn-info smalbutton" tooltip="Ekle"><fa name="plus-circle"></fa></button>
<button (click)="openEditRoleModal('düzenle')" class="btn btn-primary smalbutton" tooltip="Güncelle"><fa name="pencil"></fa></button>
<button (click)="openConfirmationDialog()" class="btn btn-danger smalbutton" tooltip="Sil"><fa name="trash"></fa></button>
<div class="card mt-2">
  <div class="card-header">
    <fa name="list"></fa>
    Rol Listesi > [Toplam:{{gridRole.data.totalCount}}/Seçili:{{gridRole.selectedItems.length}}/Tıklanan:{{gridRole.clickedItem!=undefined?1:0}}]
    <div class="pull-right">
      <select [(ngModel)]="gridRole.model.paging.count" (change)="gridRole.onRefresh()">
        <option *ngFor="let c of gridRole.pager" [ngValue]="c">{{c}}</option>
      </select>
    </div>
  </div>
  <div class="card-body p-0 table-responsive">
    <table #filterSection class="table table-bordered m-0 medlifeGrid">
      <thead>
        <tr>

          <th scope="col" class="p-0"><input type="checkbox"></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('id')">Id<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('roleName')">Rol Adı<div class="pull-right mr-1"><fa name="sort"></fa></div></th>

        </tr>
      </thead>
      <tbody>
        <tr (click)="gridRole.onClickItem(item)" *ngFor="let item of gridRole.data.list" [class]="gridRole.getRowClass(item)">
          <td class="p-0">
            <input type="checkbox" class="" [checked]="gridRole.isSelected(item)"
                   (change)="gridRole.onSelectItem(item)">
          </td>
          <td class="p-0">{{item.id}}</td>
          <td class="p-0">{{item.roleName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center  mb-3">
    <div class="col-sm-7 pagination-sm  justify-content-center pageNumber">
      <pagination class="justify-content-center" [boundaryLinks]="true" [totalItems]="gridRole.data.totalCount" [maxSize]="4" [(ngModel)]="gridRole.model.paging.pageNumber" [itemsPerPage]="gridRole.model.paging.count" (pageChanged)="gridRole.onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>






