<button (click)="openEditRoleModal('ekle')" class="btn btn-info smalbutton" tooltip="Ekle"><fa name="plus-circle"></fa></button>
<button (click)="openEditRoleModal('düzenle')" class="btn btn-primary smalbutton" tooltip="Güncelle"><fa name="pencil"></fa></button>
<button (click)="openConfirmationDialog()" class="btn btn-danger smalbutton" tooltip="Sil"><fa name="trash"></fa></button>
<div class="card mt-2">
  <div class="card-header">
    <fa name="list"></fa>
    Rol Listesi > [Toplam:{{gridRole.data.totalCount}}/Seçili:{{gridRole.selectedItems.length}}/Tıklanan:{{gridRole.clickedItem!=undefined?1:0}}]
    <div class="pull-right">
      <select [(ngModel)]="gridRole.model.paging.count" (change)="gridRole.onRefresh()">
        <option *ngFor="let c of gridRole.pager" [ngValue]="c">{{c}}</option>
      </select>
    </div>
  </div>
  <div class="card-body p-0 table-responsive">
    <table #filterSection class="table table-bordered m-0 medlifeGrid">
      <thead>
        <tr>
          <th scope="col" class="p-0"><input type="checkbox"></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('pk')">Id<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('pk')">Rol Adı<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('pk')">Kolon 2<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('pk')">Kolon 2<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('pk')">Kolon 2<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('pk')">Kolon 2<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridRole.onSorting('pk')">Kolon 2<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-0">
            <input type="checkbox" class="">
          </td>
          <td class="p-0">123</td>
          <td class="p-0">Admin</td>
          <td class="p-0"></td>
          <td class="p-0"></td>
          <td class="p-0"></td>
          <td class="p-0"></td>
          <td class="p-0"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center   mt-3">
    <div class="col-sm-7 pagination-sm  justify-content-center pageNumber">
      <pagination class="justify-content-center" [boundaryLinks]="true" [totalItems]="10" [maxSize]="4" [itemsPerPage]="4" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>






