<div class="container-fluid h-100">
  <div class="row h-100 pt-1">
    <div class="col-md-12">
      <div class="row mb-0">
        <div class="col mb-1">
          <pageheader headertext="Role Tanımlama" pageposition="TANIMLAMALAR > Role Tanımlama"></pageheader>
        </div>
      </div>
      <!--<div class="row mb-3">
    <div class="col">
      <app-rolefilter></app-rolefilter>
    </div>
  </div>-->
      <div class="row mb-3">
        <div class="col">
          <app-rolegrid></app-rolegrid>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col">
          <app-roletabs></app-roletabs>
        </div>
      </div>
    </div>
  </div>
</div>
