
<div class="m-0">
  <div class="card m-0 shadow  bg-white rounded-0">
    <div class="card-header p-1">
      <span class="align-middle"><fa name="filter"></fa> {{headertext}} </span>
      <div class="pull-left">
        <span (click)="isCollapsed = !isCollapsed;" class="buttonCollapse" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          <fa *ngIf="!isCollapsed" name="angle-down"></fa>
          <fa *ngIf="isCollapsed" name="angle-up"></fa>
        </span>
      </div>
    </div>
    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
      <div class="card-body p-2">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>

