
<div class="m-0">
  <div class="card m-0">
    <div class="card-header">
      <label class="label"><fa name="filter"></fa> {{headertext}} </label>
      <div class="pull-left">
        <button (click)="isCollapsed = !isCollapsed;" class="btn btn-sm btn-light" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          <fa *ngIf="!isCollapsed" name="angle-down"></fa>
          <fa *ngIf="isCollapsed" name="angle-up"></fa>
        </button>
      </div>
    </div>
    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
      <div class="card-body p-2">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>

