<div class="m-0">
  <div class="row">
    <div class="card" style="background-color:gainsboro; margin-left: 15px;">
      <div style="padding-top:5px; padding-left:5px; padding-right:5px; padding-bottom:0px;">
        <p style="padding:0px;margin:0px; font-size: 11px;">Instance İşlemeri</p>
      </div>
      <div style="padding-top:0px; padding-left:5px; padding-right:5px; padding-bottom:5px;">
        <button  [disabled]="!gridKos.selectAll &&  !gridKos.selectedItems.length > 0" (click)="gridKos.onClickInstanceCreateKos()" class="btn btn-primary smalbutton" tooltip="Instance Koş Oluştur"><fa name="plus-circle"></fa></button>
        <button [disabled]="!gridKos.selectAll &&  !gridKos.selectedItems.length > 0" (click)="gridKos.onClickDeleteFromData()" class="btn btn-danger smalbutton" tooltip="Seçilenleri Data'dan sil"><fa name="trash"></fa></button>
        <button style="margin-right:0px;" [disabled]="!gridKos.selectAll &&  !gridKos.selectedItems.length > 0" (click)="gridKos.onClickGetInstance()" class="btn btn-secondary smalbutton" tooltip="Instance'ları Çek"><fa name="get-pocket"></fa></button>
      </div>
    </div>
    <div class="card" style="background-color:gainsboro; margin-left: 10px; margin-right: 10px">
      <div style="padding-top:5px; padding-left:5px; padding-right:5px; padding-bottom:0px;">
        <p style="padding:0px;margin:0px;">Genel İşlemler</p>
      </div>
      <div style="padding-top:0px; padding-left:5px; padding-right:5px; padding-bottom:5px;">
        <button [disabled]="!gridKos.selectAll &&  !gridKos.selectedItems.length > 0" (click)="gridKos.onClickCreateKos()" class="btn btn-info smalbutton" tooltip="Koş Oluştur"><fa name="plus-circle"></fa></button>
        <button [disabled]="!gridKos.selectAll &&  !gridKos.selectedItems.length > 0" (click)="gridKos.onClickSendKos()" class="btn btn-info smalbutton" tooltip="Seçilenlerin KOS'larını Gönder"><fa name="share-square"></fa></button>
        <button [disabled]="!gridKos.selectAll &&  !gridKos.selectedItems.length > 0" (click)="gridKos.onClickDeleteKos()" class="btn btn-danger smalbutton" tooltip="Seçilenlerin KOS'larını Teletıp'tan sil"><fa name="trash"></fa></button>
        <button [disabled]="!gridKos.selectAll &&  !gridKos.selectedItems.length > 0" (click)="gridKos.onClickUpdateReadKos()" class="btn btn-primary smalbutton" tooltip="Seçilenlerin KOS Durumlarını Teletıp'tan oku"><fa name="get-pocket"></fa></button>
        <button [disabled]="!gridKos.selectAll &&  !gridKos.selectedItems.length > 0" (click)="gridKos.onClickReprocessKos()" class="btn btn-secondary smalbutton" tooltip="Reprocess Kos"><fa name="reply"></fa></button>
        <button  (click)="gridKos.onClickExportExcel()" class="btn btn-primary smalbutton" tooltip="Excel'e çevir"><fa name="table"></fa></button>
        <button style="margin-right:0px;" [disabled]="gridKos.selectedItems.length !== 1" (click)="gridKos.onChangeAccesionNo()" class="btn btn-secondary smalbutton" tooltip="AccesionNo Değiştir"><fa name="pencil"></fa></button>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2 shadow bg-white rounded-0">
  <div class="card-header pr-1 pt-1 pb-1 pl-2">
    <fa name="list" class="align-middle"></fa>
    Kayıt Listesi > [Toplam:{{gridKos.data.totalCount}}/Seçili:{{gridKos.selectedItems.length}}/Tıklanan:{{gridKos.clickedItem!=undefined?1:0}}]
    <div class="pull-right align-middle">
      <select [(ngModel)]="gridKos.model.paging.count" (change)="gridKos.onRefresh()">
        <option *ngFor="let c of gridKos.pager" [ngValue]="c">{{c}}</option>
      </select>
    </div>
  </div>
  <div class="card-body p-0 table-responsive scroll">
    <table #filterSection class="table table-hover m-0 medlifeGrid ">
      <thead>
        <tr>
          <th scope="col" class="p-0" style="width: 25px;">
            <input type="checkbox" class="m-1" (click)="gridKos.gridSelect($event,'selectPage')" [(ngModel)]="gridKos.selectPage" title="Sayfayı Seç">
            <input type="checkbox" class="m-1" (click)="gridKos.gridSelect($event,'selectAll')" [(ngModel)]="gridKos.selectAll" title="Tümünü Seç">
          </th>

          <th scope="col" class="p-0" (click)="gridKos.onSorting('id')">ID<fa name="sort" class="ml-1"></fa></th>
          <th scope="col" class="p-0" (click)="gridKos.onSorting('hastaNo')">Hasta No<fa name="sort" class="ml-1"></fa></th>
          <th scope="col" class="p-0" (click)="gridKos.onSorting('patientName')">Hasta İsmi<fa name="sort" class="ml-1"></fa></th>
          <th scope="col" class="p-0" (click)="gridKos.onSorting('accessionNumber')">Accession No<fa name="sort" class="ml-1"></fa></th>
          <th scope="col" class="p-0" (click)="gridKos.onSorting('modality')">Modalite<fa name="sort" class="ml-1"></fa></th>
          <th scope="col" class="p-0" (click)="gridKos.onSorting('creationDttm')">Oluşturma Tarihi<fa name="sort" class="ml-1"></fa></th>
          <th scope="col" class="p-0" (click)="gridKos.onSorting('studyDate')">Study Date<fa name="sort" class="ml-1"></fa></th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="gridKos.onClickItem(item)" *ngFor="let item of gridKos.data.list" [class]="gridKos.getRowClass(item)">
          <td class="p-0">
            <input type="checkbox" class="m-1" [checked]="gridKos.isSelected(item)"
                   (change)="gridKos.onSelectItem(item)" [disabled]="gridKos.selectAll">
          </td>
          <td class="p-0">{{item.id}}</td>
          <td class="p-0">{{item.hastaNo}}</td>
          <td class="p-0">{{item.patientName}}</td>
          <td class="p-0">{{item.accessionNumber}}</td>
          <td class="p-0">{{item.modality}}</td>
          <td class="p-0">{{item.creationDttm | date : 'dd.MM.yyyy'}}</td>
          <td class="p-0">{{item.studyDate | date : 'dd.MM.yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-sm-7 pagination-sm  justify-content-center pageNumber">
      <pagination class="justify-content-center mb-0" [boundaryLinks]="true" [totalItems]="gridKos.data.totalCount" [maxSize]="4" [(ngModel)]="gridKos.model.paging.pageNumber" [itemsPerPage]="gridKos.model.paging.count" (pageChanged)="gridKos.onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>




