<div class="m-0">
  <button [disabled]="gridKos.clickedItem == undefined"(click)="gridKos.onClickCreateKos()"    class="btn btn-info smalbutton"   tooltip="Koş Oluştur"><fa name="plus-circle"></fa></button>
  <button [disabled]="gridKos.clickedItem == undefined"(click)="gridKos.onClickSendKos()"      class="btn btn-info smalbutton"   tooltip="Seçilenlerin KOS'larını Gönder"><fa name="share-square"></fa></button>
  <button [disabled]="gridKos.clickedItem == undefined"(click)="gridKos.onClickDeleteKos()"    class="btn btn-danger smalbutton" tooltip="Seçilenlerin KOS'larını Teletıp'tan sil"><fa name="trash"></fa></button>
  <button [disabled]="gridKos.clickedItem == undefined"(click)="gridKos.onClickUpdateReadKos()"class="btn btn-primary smalbutton"tooltip="Seçilenlerin KOS Durumlarını Teletıp'tan oku"><fa name="get-pocket"></fa></button>
  <button [disabled]="gridKos.clickedItem == undefined"(click)="gridKos.onClickExportExcel()"  class="btn btn-primary smalbutton"tooltip="Excel'e çevir"><fa name="table"></fa></button>
</div>

<div class="card mt-2">
  <div class="card-header p-1">
    <fa name="list"></fa>
    Kayıt Listesi > [Toplam:{{gridKos.data.totalCount}}/Seçili:{{gridKos.selectedItems.length}}/Tıklanan:{{gridKos.clickedItem!=undefined?1:0}}]
    <div class="pull-right">
      <select [(ngModel)]="gridKos.model.paging.count" (change)="gridKos.onRefresh()">
        <option *ngFor="let c of gridKos.pager" [ngValue]="c">{{c}}</option>
      </select>
    </div>
  </div>
  <div class="card-body p-0 table-responsive">
    <table #filterSection class="table table-bordered m-0 medlifeGrid">
      <thead>
        <tr>
          <th scope="col" class="p-0"><input type="checkbox" (click)="gridKos.onSelectAll($event)"></th>
          <th scope="col" class="p-0">Hasta No<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">Hasta İsmi<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">Accession No<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">Modalite<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="gridKos.onClickItem(item)" *ngFor="let item of gridKos.data.list" [class]="gridKos.getRowClass(item)">
          <td class="p-0">
            <input type="checkbox" class="" [checked]="gridKos.isSelected(item)"
                   (change)="gridKos.onSelectItem(item)">
          </td>
          <td class="p-0">{{item.hastaNo}}</td>
          <td class="p-0">{{item.patientName}}</td>
          <td class="p-0">{{item.accessionNumber}}</td>
          <td class="p-0">{{item.modality}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center  mb-3">
    <div class="col-sm-7 pagination-sm  justify-content-center pageNumber">
      <pagination class="justify-content-center" [boundaryLinks]="true" [totalItems]="gridKos.data.totalCount" [maxSize]="4" [(ngModel)]="gridKos.model.paging.pageNumber" [itemsPerPage]="gridKos.model.paging.count" (pageChanged)="gridKos.onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>




