<div class="m-0">
  <button class="btn btn-info smalbutton" tooltip="Seçilenlerin KOS'larını Gönder"><fa name="share-square"></fa></button>
  <button class="btn btn-danger smalbutton" tooltip="Seçilenlerin KOS'larını Teletıp'tan sil"><fa name="trash"></fa></button>
  <button class="btn btn-primary smalbutton" tooltip="Seçilenlerin KOS Durumlarını Teletıp'tan oku"><fa name="get-pocket"></fa></button>
  <button class="btn btn-info smalbutton" tooltip="Seçilenler için PACS'tan talep yap"><fa name="plus-circle"></fa></button>
  <button class="btn btn-primary smalbutton" tooltip="Seçilenlerin görüntülerini PACS'a gönder"><fa name="share-square"></fa></button>
  <button class="btn btn-primary smalbutton" tooltip="Excel'e çevir"><fa name="table"></fa></button>
</div>

<div class="card mt-2">
  <div class="card-header">
    <fa name="list"></fa>
    Kayıt Listesi
    <div class="pull-right">
     
    </div>
  </div>
  <div class="card-body p-0 table-responsive">
    <table #filterSection class="table table-bordered m-0 medlifeGrid">
      <thead>
        <tr>
          <th scope="col" class="p-0"><input type="checkbox"></th>
          <th scope="col" class="p-0">Hasta No<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">Hasta İsmi<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">Accession No<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">İşlem Bilgisi<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">İşlem Zamanı<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">Modelite<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0">Kos Durumu<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-0">
            <input type="checkbox" class="">
          </td>
          <td class="p-0">123123</td>
          <td class="p-0">Ali Ak</td>
          <td class="p-0"></td>
          <td class="p-0"></td>
          <td class="p-0"></td>
          <td class="p-0"></td>
          <td class="p-0"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center   mt-3">
    <div class="col-sm-7 pagination-sm  justify-content-center pageNumber">
      <pagination class="justify-content-center" [boundaryLinks]="true" [totalItems]="10" [maxSize]="4" [itemsPerPage]="4" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>




