
<button (click)="openEditUserModal('ekle')" class="btn btn-info smalbutton" tooltip="Ekle"><fa name="plus-circle"></fa></button>
<button (click)="openEditUserModal('düzenle')" class="btn btn-primary smalbutton" tooltip="Güncelle"><fa name="pencil"></fa></button>
<button (click)="openConfirmationDialog()"class="btn btn-danger smalbutton" tooltip="Sil"><fa name="trash"></fa></button>

<div class="card mt-2">
  <div class="card-header">
    <fa name="list"></fa>
    Kullanıcı Listesi > [Toplam:{{gridUser.data.totalCount}}/Seçili:{{gridUser.selectedItems.length}}/Tıklanan:{{gridUser.clickedItem!=undefined?1:0}}]
    <div class="pull-right">
      <select [(ngModel)]="gridUser.model.paging.count" (change)="gridUser.onRefresh()">
        <option *ngFor="let c of gridUser.pager" [ngValue]="c">{{c}}</option>
      </select>
    </div>
  </div>
  <div class="card-body p-0 table-responsive">
    <table #filterSection class="table table-bordered m-0 medlifeGrid">
      <thead>
        <tr>
          <th scope="col" class="p-0"><input type="checkbox" (click)="gridUser.onSelectAll($event)"></th>
          <th scope="col" class="p-0" (click)="gridUser.onSorting('pk')">Id<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridUser.onSorting('userName')">Kullanıcı Adı<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridUser.onSorting('name')">Adı<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridUser.onSorting('surname')">Soyadı<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridUser.onSorting('emailAdress')">E-mail<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
          <th scope="col" class="p-0" (click)="gridUser.onSorting('password')">Şifre<div class="pull-right mr-1"><fa name="sort"></fa></div></th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="gridUser.onClickItem(item)" *ngFor="let item of gridUser.data.list" [class]="gridUser.getRowClass(item)">
          <td class="p-0">
            <input type="checkbox" class="" [checked]="gridUser.isSelected(item)"
                   (change)="gridUser.onSelectItem(item)">
          </td>
          <td class="p-0">{{item.pk}}</td>
          <td class="p-0">{{item.userName}}</td>
          <td class="p-0">{{item.name}}</td>
          <td class="p-0">{{item.surname}}</td>
          <td class="p-0">{{item.emailAdress}}</td>
          <td class="p-0">{{item.password}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center  mb-3">
    <div class="col-sm-7 pagination-sm  justify-content-center pageNumber">
      <pagination class="justify-content-center" [boundaryLinks]="true" [totalItems]="gridUser.data.totalCount" [maxSize]="4" [(ngModel)]="gridUser.model.paging.pageNumber" [itemsPerPage]="gridUser.model.paging.count" (pageChanged)="gridUser.onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>





