<!--filter is a component, created by Protek Developer Team. You can see the attribute of filter in Shared/Components/filter-->
<filter header="Filtreleme">
  <form style="font-family:'Times New Roman', Times, serif !important; font-size: small; color: black;"> 
    <div class="form-row p-0 ">
      <div class="col-md-3">
        <label class="font-weight-bold">Hastane Seçimi</label>
        <ng-multiselect-dropdown name ="ddlTenant"
                                 [placeholder]="'Hastane Seçimi'"
                                 [data]="ddlTenantData"
                                 [(ngModel)]="ddlTenantSelectedItems"
                                 [settings]="ddlTenantSettings">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-md-3">
        <label class="font-weight-bold">Tarih Aralığı</label>
        <div class="input-group input-group-sm mb-3">
          <input class="form-control" type="text"
                 name="dateRange"
                 [(ngModel)]="dateRange"
                 placeholder="Tarih Aralığı" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY'}" #drp="bsDaterangepicker" bsDaterangepicker >
        </div>
        
      </div>
      <div class="col-md-3">
        <label class="font-weight-bold">Modalite</label>
        <ng-multiselect-dropdown name="ddlModality"
                                 [placeholder]="'Modalite'"
                                 [data]="ddlModalityData"
                                 [(ngModel)]="ddlModalitySelectedItems"
                                 [settings]="ddlModalitySettings">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-md-3">
        <label class="font-weight-bold">Eşleşme Durumu</label>
        <ng-multiselect-dropdown name="ddlEnum"
                                 [placeholder]="'Eşleşme Durumu'"
                                 [data]="ddlEnumData"
                                 [(ngModel)]="ddlEnumSelectedItems"
                                 [settings]="ddlEnumSettings">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <label class="font-weight-bold">TC Kimlik No</label>
        <div class="input-group input-group-sm">
          <!--<input type="text" class="form-control input-sm" name="tcno" [(ngModel)]="tcKimlikNo">-->
          <textarea class="form-control input-sm" [(ngModel)]="tcKimlikNo" name="tcno" style="height: 2rem;"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <label class="font-weight-bold">Accession No</label>
        <div class="input-group input-group-sm">
          <!--<input type="text" class="form-control input-sm" name="accesion" [(ngModel)]="accessionNo">-->
          <textarea class="form-control input-sm" [(ngModel)]="accessionNo" name="accesion" style="height: 2rem;"></textarea>
        </div>
      </div>
    </div>
  </form>
  <div class="mt-1">
    <button class="btn btn-success btn-sm mr-2" tooltip="Filtrele" (click)="onFilter()"><fa name="search"></fa></button>
    <button class="btn btn-danger  btn-sm" tooltip="Filtreleri Temizle" (click)="onClearFilter()"><fa name="close"></fa></button>
  </div>
</filter>
