<!--filter is a component, created by Protek Developer Team. You can see the attribute of filter in Shared/Components/filter-->
<filter header="Filtreleme">
  <form>
    <div class="form-row p-0 ">
      <div class="col-md-3">
        <label class="font-weight-bold">Hastane Seçimi</label>
        <ng-multiselect-dropdown [placeholder]="'Hastane Seçimi'"
                                 [data]="dropdownList"
                                 [(ngModel)]="selectedItems"
                                 [settings]="dropdownSettings"
                                 (onSelect)="onItemSelect($event)"
                                 (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-md-3">
        <label class="font-weight-bold">Tarih Aralığı</label>
        <div class="input-group input-group-sm mb-3">
          <input class="form-control" type="text"
                 placeholder="Tarih Aralığı" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY'}" #drp="bsDaterangepicker" bsDaterangepicker>
        </div>
        
      </div>
      <div class="col-md-3">
        <label class="font-weight-bold">Modalite</label>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" name="modalite">
        </div>
      </div>
      <div class="col-md-3">
        <label class="font-weight-bold">Eşleşme Durumu</label>
        <div class="input-group input-group-sm">
          <select class="form-control input-sm" name="ddlState">
            <option value="undefined">Durum 1</option>
            <option value="undefined">Durum 2</option>
            <option value="undefined">Durum 3</option>
            <option value="undefined">Durum 4</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <label class="font-weight-bold">TC Kimlik No</label>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control input-sm" name="tcno" [(ngModel)]="tcKimlikNo">
        </div>
      </div>
      <div class="col-md-6">
        <label class="font-weight-bold">Accession No</label>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control input-sm" name="accesion">
        </div>
      </div>
    </div>
  </form>
  <div class="mt-1">
    <button class="btn btn-success btn-sm mr-2" tooltip="Filtrele" (click)="splitTc()"><fa name="search"></fa></button>
    <button class="btn btn-danger  btn-sm" tooltip="Filtreleri Temizle"><fa name="close"></fa></button>
  </div>
</filter>
