<div class="row">
  <div class="col mt-3 ">
    <ul>
      <li>
        <label class="label"><strong>accessionNumber : </strong>{{kosDetailModel?.accessionNumber}}</label>
      </li>
      <li>
        <label class="label"><strong>cihazDeviceSerialNumber : </strong>{{kosDetailModel?.cihazDeviceSerialNumber}}</label>
      </li>
      <li>
        <label class="label"><strong>creationDttm: </strong>{{kosDetailModel?.creationDttm}}</label>
      </li>
      <li>
        <label class="label"><strong>dateBirth : </strong>{{kosDetailModel?.dateBirth}}</label>
      </li>
      <li>
        <label class="label"><strong>desc1 : </strong>{{kosDetailModel?.desc1}}</label>
      </li>
      <li>
        <label class="label"><strong>desc2 : </strong>{{kosDetailModel?.desc2}}</label>
      </li>
      <li>
        <label class="label"><strong>desc3 : </strong>{{kosDetailModel?.desc3}}</label>
      </li>
      <li>
        <label class="label"><strong>fileName : </strong>{{kosDetailModel?.fileName}}</label>
      </li>
       <li>
         <label class="label"><strong>gender : </strong>{{kosDetailModel?.gender}}</label>
      </li>
       <li>
         <label class="label"><strong>hastaNo : </strong>{{kosDetailModel?.hastaNo}}</label>
      </li>
       <li>
         <label class="label"><strong>id : </strong>{{kosDetailModel?.id}}</label>
      </li>
       <li>
         <label class="label"><strong>infBatchID : </strong>{{kosDetailModel?.infBatchID}}</label>
      </li>
       <li>
         <label class="label"><strong>instanceCount : </strong>{{kosDetailModel?.instanceCount}}</label>
      </li>
       <li>
         <label class="label"><strong>instanceKey : </strong>{{kosDetailModel?.instanceKey}}</label>
      </li>
       <li>
         <label class="label"><strong>institution : </strong>{{kosDetailModel?.institution}}</label>
      </li>
       <li>
         <label class="label"><strong>institutionName : </strong>{{kosDetailModel?.institutionName}}</label>
      </li>
       <li>
         <label class="label"><strong>istemAdi : </strong>{{kosDetailModel?.istemAdi}}</label>
      </li>
       <li>
         <label class="label"><strong>istemTarihi : </strong>{{kosDetailModel?.istemTarihi}}</label>
      </li>
       <li>
         <label class="label"><strong>kosState : </strong>{{kosDetailModel?.kosState}}</label>
      </li>
       <li>
         <label class="label"><strong>kosStateTag : </strong>{{kosDetailModel?.kosStateTag}}</label>
      </li>

    </ul>
  </div>
  <div class="col mt-3 ">
    <ul>
      <li>
        <label class="label"><strong>modality : </strong>{{kosDetailModel?.modality}}</label>
      </li>
      <li>
        <label class="label"><strong>oracleStudyKey : </strong>{{kosDetailModel?.oracleStudyKey}}</label>
      </li>
      <li>
        <label class="label"><strong>patientID : </strong>{{kosDetailModel?.Kayit_Tarihi | date: 'dd/mm/yyyy'}}</label>
      </li>
      <li>
        <label class="label"><strong>patientName : </strong>{{kosDetailModel?.patientName}}</label>
      </li>
      
      <li>
        <label class="label"><strong>seriesKey : </strong>{{kosDetailModel?.seriesKey}}</label>
      </li>
      <li>
        <label class="label"><strong>storagePath : </strong>{{kosDetailModel?.storagePath}}</label>
      </li>
      <li>
        <label class="label"><strong>studyDate : </strong>{{kosDetailModel?.studyDate}}</label>
      </li>
      <li>
        <label class="label"><strong>studyDescription : </strong>{{kosDetailModel?.studyDescription}}</label>
      </li>
      <li>
        <label class="label"><strong>studyInstanceuid : </strong>{{kosDetailModel?.studyInstanceuid}}</label>
      </li>
      <li>
        <label class="label"><strong>tenantID : </strong>{{kosDetailModel?.tenantID}}</label>
      </li>
      <li>
        <label class="label"><strong>timeCreated : </strong>{{kosDetailModel?.timeCreated}}</label>
      </li>
      <li>
        <label class="label"><strong>timeModified : </strong>{{kosDetailModel?.timeModified}}</label>
      </li>
      <li>
        <label class="label"><strong>userIDCreated : </strong>{{kosDetailModel?.userIDCreated}}</label>
      </li>
      <li>
        <label class="label"><strong>userIDModfiead : </strong>{{kosDetailModel?.userIDModfiead}}</label>
      </li>
      <li>
        <label class="label"><strong>valumeCode : </strong>{{kosDetailModel?.valumeCode}}</label>
      </li>
      <li>
        <label class="label"><strong>valumePathname : </strong>{{kosDetailModel?.valumePathname}}</label>
      </li>
      <li>
        <label class="label"><strong>valumeStat : </strong>{{userDetailModel?.valumeStat}}</label>
      </li>
      <li>
        <label class="label"><strong>valumeType : </strong>{{kosDetailModel?.valumeType}}</label>
      </li>
    </ul>
  </div>
</div>
