<div>
  <tabset>
    <tab heading="Rol Seçimi" id="tabRole">
      <div class="content mt-5">
        <div class="form-group row m-1">
          <div class="col-sm-3"></div>
          <label class="font-weight-bold">Rol Seçimi</label>
          <div class="col-sm-4">
            <ng-multiselect-dropdown [placeholder]="'Rol Seçimi'"
                                     [data]="ddlRoleData"
                                     [(ngModel)]="ddlRoleSelectedItem"
                                     [settings]="ddlRoleSettings"
                                     [disabled]="ddlRoleDisabled">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-sm" [ngClass]="{'btn-success': !ddlRoleDisabled, 'btn-warning' : ddlRoleDisabled}" (click)="ddlRoleDisabled = !ddlRoleDisabled; onSaveRole()">
              <fa name="pencil" *ngIf="ddlRoleDisabled"></fa>
              <fa name="check" *ngIf="!ddlRoleDisabled"></fa>
            </button>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </tab>
    <tab heading="Hastane Seçimi" id="tabTenant">
      <div class="content mt-5">
        <div class="form-group row m-1">
          <div class="col-sm-3"></div>
          <label class="font-weight-bold">Hastane Seçimi</label>
          <div class="col-sm-4">
            <ng-multiselect-dropdown [placeholder]="'Hastane Seçimi'"
                                     [data]="ddlTenantData"
                                     [(ngModel)]="ddlTenantSelectedItem"
                                     [settings]="ddlTenantSettings"
                                     [disabled]="ddlTenantDisabled">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-sm" [ngClass]="{'btn-success': !ddlTenantDisabled, 'btn-warning' : ddlTenantDisabled}" (click)="ddlTenantDisabled = !ddlTenantDisabled; onSaveTenant()">
              <fa name="pencil" *ngIf="ddlTenantDisabled"></fa>
              <fa name="check" *ngIf="!ddlTenantDisabled" ></fa>
            </button>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </tab>
  </tabset>
</div>

