<div>
  <tabset>
    <tab heading="Kos Detay" id="tab1">
      <div class="row">
        <div class="col-md-4">
          <label class="font-weight-bold">Role Seçimi</label>
          <div class="input-group input-group-sm">
            <select class="form-control input-sm" name="ddlState">
              <option value="undefined">Admin</option>
              <option value="undefined">Yönetici</option>
              <option value="undefined">Raportör</option>
              <option value="undefined">Editör</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <label class="font-weight-bold">Hastane Seçimi</label>
          <ngx-select-dropdown [multiple]="true" [options]="options" [config]="config"></ngx-select-dropdown>
        </div>
      </div>
    </tab>
    <tab heading="Tab 2">
     
    </tab>
  </tabset>
</div>

