<div class="container-fluid h-100">
  <div class="row h-100 pt-1">
    <div class="col-md-12">
      <div class="row mb-0">
        <div class="col">
          <pageheader headertext="Kullanıcı Tanımlama" pageposition="TANIMLAMALAR > Kullanıcı Tanımlama"></pageheader>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <app-userfilter (username)="getFilter($event)"></app-userfilter>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <app-usergrid [filterValue]="filterValue"></app-usergrid>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col">
          <app-usertabs [clickedItem]="userGridComponent?.gridUser?.clickedItem?.id"></app-usertabs>
        </div>
      </div>
    </div>
  </div>
</div>
