<div class="container-fluid h-100">
  <div class="row h-100 pt-1">
    <div class="col-md-12">
      <div class="row mb-0">
        <div class="col">
          <pageheader headertext="KOS İşlemleri" pageposition="İŞLEMLER > KOS İşlemleri"></pageheader>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <app-kosfilter></app-kosfilter>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-9">
          <app-kosgrid [filterData]="kosFilterComponent?.kosFilterOutput"></app-kosgrid>
        </div>
        <div class="col-md-3 marginClass">
          <app-kosstatistic></app-kosstatistic>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col">
          <app-kostabs></app-kostabs>
        </div>
      </div>
    </div>
  </div>
</div>

